.container{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    background-color: silver;
    display: flex;
    align-items: center;
}

.col{
    background-color: blanchedalmond;
    padding: 10px;
    flex: 1;
    font-size: 1.2rem;
}

