.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-inline {
  width: 750px;
}

.form-group-title {
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  height: 80px;
  width: 700px;
}

.form-control-title {
  border: 2px solid grey;
  display: flex;
  margin-left: 165px;
  margin-top: -63px;
  height: 60px;
  width: 500px;
  border-radius: 10px;
}

.form-group-price {
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  height: 80px;
  width: 700px;
}

.form-control-price {
  border: 2px solid grey;
  display: flex;
  margin-left: 165px;
  margin-top: -63px;
  height: 60px;
  width: 500px;
  border-radius: 10px;
}

.form-group-description {
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  height: 80px;
  width: 700px;
}

.form-control-description {
  border: 2px solid grey;
  display: flex;
  margin-left: 165px;
  margin-top: -63px;
  height: 60px;
  width: 500px;
  border-radius: 10px;
}


.title, .price, .description {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: darkslategrey;
  font-size: 14pt;
  height: 70px;
  width: 150px;
  text-align: left;
  justify-content: left;
  align-items: center;
  display: flex;
  padding-left: 10px;
}

.App {
  text-align: center;
  display: inline-block;
  width: 0px auto;
  margin-left: 50px;
  margin-top: 10px;
}

.button-productform {
  border: 2px solid rgb(85, 84, 84);
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 150px;
  height: 30px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-list {
  width: 750px;
  display: inline-block;
  margin-left: 380px;
  
  
}

.header-list {
  text-align: center;
  height: 40px;
  width: 750px;
}

.button {
  border: 2px solid rgb(85, 84, 84);
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 150px;
  height: 30px;
  font-weight: bold;
}

.h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.productlink {
  margin-left: 200px;
}

.updatelink {
  position: fixed;
  left: 750px
}

.deletebutton {
  position: fixed;
  left: 850px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
